<div class="row m-4">
  <div class="col-12 d-grid">
    <input type="text" placeholder="Nombre tarea" [(ngModel)]="titulo">
    <textarea [(ngModel)]="descripcion" placeholder="Descripción"></textarea>
    <button (click)="saveJob()">Añadir tarea</button>
  </div>
  <div class="col-12" style="margin-top: 32px">
    <div *ngFor="let job of listaTareas">
      <mat-card *ngIf="!job.completada" style="margin-bottom: 8px; background-color: #D3D3D3">
        <mat-card-header>
          <mat-card-title>{{ job.nombre }}</mat-card-title>
          <mat-card-subtitle>{{ job.descripcion }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions class="d-flex justify-content-end">
          <button (click)="finishJob(job.id)">Terminar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="col-12">
    <button (click)="showJobs()">Mostrar tareas realizadas</button>
  </div>
</div>
